body {
  background: black;
  color: white;
  font-family: Arial;
  padding: 10px;
}

input, textarea, select, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

#chat {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 5px;
}
