body {
  font-family: Arial;
  background: #000;
  color: #fff;
  text-align: center;
}

#chat {
  height: 60vh;
  overflow-y: auto;
  border: 1px solid #444;
  margin: 10px;
  padding: 10px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
}
